* {
  margin: 0px;
  padding: 0px;
}

body {
  max-height: 100vh;
}

.rolling {
  font-size: 10rem;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: green;
}

.titlePage {
  font-family: 'Rubik Glitch', system-ui;
}


.category {
  margin-top: 5rem;
}

.bxs-heart {
  color: #4fed51;
}



/* Filtro */

#filterSection {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#filterSection h2 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 775px) {
  .box1 {
    width: 25%;
  }

  .box2 {
    width: 75%;
  }
}


#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCard {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.productCard img {
  width: 100%;
  height: auto;
}


/* Admin */

.description-pageDetail {
  width: 100%; /* Ajustar el ancho del textarea al 100% */
}

.pt-sm-6{
  padding-top: 50px;
}